*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #f0f6fc;
}

body{
    background-color: #0d1117;
    justify-self: center;
    justify-content: center;
    width: 60vw
}

nav{
    width: 100%;
    position: sticky;
    top: 0px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 2rem;
}


nav ul li {
    font-size: 2rem;
    padding-right: 20px;
    align-content: center;  
}

nav ul li a{
    text-decoration: none;
}

nav ul li button{
    width: 4rem;
    height: 4rem;
    display: flex;
    background-color: grey;
    cursor: pointer;
    border: none;
}

nav ul li button:hover{
    border: 1px solid black;
}

main{
    justify-self: center;
    justify-content: center;
    width: 70vw;
    height: 40vh;
    display: flex;
}

#profile-pic {
  width: 20rem;              /* Equal width */
  height: 20rem;             /* Equal height */
  object-fit: cover;         /* Makes the image fill the area */
  border-radius: 50%;        /* Makes it a circle */
  border: 1px solid #c9d1d9;
  margin: 5px 0 5px 2rem;    /* Top, right, bottom, left */
}

.project-button{
    display: block;
    justify-self: center;
    margin: 1rem 0rem;
    width: 25vw;
    padding: 10px;
    border: 1px solid #c9d1d9;
    border-radius: 5px;
    height: auto;
    color: #f0f6fc;
    background-color: #161b22;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease;
}

.main-words{
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}


.main-words button{
    justify-self: center;
}

.about-me{
    background-color: #161b22;
    border: 1px solid #c9d1d9;
    color: #f0f6fc;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
}

.about-me h2{
    padding-bottom: 1rem;
}

.about-me p{
    color: #8b949e;
}

#projects{  
    flex-wrap: wrap;
    padding: 10px;
}

#projects h2{
    margin: 1rem 0rem;
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-card{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #161b22;
    width: 30%;
    padding: 10px;
    height: 12vh;
    border: 1px solid #c9d1d9;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.skills-section ul{
    display: flex;
    width: 100%;
    justify-items: center;
    flex-wrap: wrap;
}

.skills-section li{
    display: flex;
    justify-content: center;
    list-style: none;
    border-radius: 10px;
    border: 1px solid #c9d1d9;
    background-color: #161b22;
    padding: 10px 10px;
    margin: 15px 15px;
    width: 20%;
    overflow-wrap: wrap;
}

.resume-section{
  
}

.resume-section button{
    margin-left: 15px;
    background-color: #161b22;
    border: 1px solid #c9d1d9;
    padding: 10px;
    border-radius: 10px;
    display: inline-flex;
    margin-top: 1rem;
}

.contact-section{
   margin-left: 1rem;
   flex: 1;
}

.contact-section h2{
   margin: 0 auto;
   width: 100%;
   justify-content: center;
   display: flex;
 }

.contact-section input {
    background-color: #161b22;
    border-radius: 5px;
    height: 2rem;
    margin: 10px 1px;
    width: 100%;
    border: 1px solid #c9d1d9;
    padding: 10px;
    flex: 1;
}

.contact-section textarea {
    flex: 1;
    background-color: #161b22;
    border-radius: 5px;
    margin: 10px 1px;
    border: 1px solid #c9d1d9;
    padding: 10px;
    transition: all 0.3s ease; /* smooth animation */
    height: 4rem;
    width: 100%;
    resize: none; /* optional: disables manual resizing */
}

.contact-section textarea:focus {
  height: 300px; /* expands vertically */
  outline: 2px solid #007aff; /* optional: custom focus border */
}

.contact-section button {
    background-color: #161b22;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 5px;
    width: 25%;
    height: 2rem;
    border: 1px solid #c9d1d9;
    padding: 10px;
}

.resume-contact-container{
    display: flex;
}

footer{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    font-size: .8rem;
    align-items: flex-end;
    justify-content: space-around;
    white-space: nowrap;
} 

.social-links a{
    font-size: .8rem;
    align-items: flex-end;
    display: inline-flex;
}

